<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>


        <!--This is configuration of DataBase was exported in TomEE context.xml-->

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/WebStudentBookWithSpringMVC?characterEncoding=utf8&amp;createDatabaseIfNotExist=true&amp;useSSL=false&amp;useUnicode=yes</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="dialect">uni.db.project.filter.CustomMySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>


        <mapping class="uni.db.project.entity.User"/>
        <mapping class="uni.db.project.entity.Authority"/>
        <mapping class="uni.db.project.entity.University"/>
        <mapping class="uni.db.project.entity.Faculty"/>
        <mapping class="uni.db.project.entity.Speciality"/>
        <mapping class="uni.db.project.entity.Department"/>
        <mapping class="uni.db.project.entity.Group"/>
        <mapping class="uni.db.project.entity.Psevdogroup"/>
        <mapping class="uni.db.project.entity.Student"/>
        <mapping class="uni.db.project.entity.Subgroup"/>
        <mapping class="uni.db.project.entity.StudentStatus"/>
        <mapping class="uni.db.project.entity.Financing"/>
        <mapping class="uni.db.project.entity.EducationForm"/>
        <mapping class="uni.db.project.entity.QualificationLevel"/>
        <mapping class="uni.db.project.entity.GroupStatus"/>


    </session-factory>
</hibernate-configuration>