<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/HibTestUnlistDB?characterEncoding=utf8&amp;createDatabaseIfNotExist=true&amp;useSSL=false&amp;useUnicode=yes</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="dialect">filter.CustomMySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="entity.User"/>
        <mapping class="entity.University"/>
        <mapping class="entity.Faculty"/>
        <mapping class="entity.Speciality"/>
        <mapping class="entity.group.Group"/>
        <mapping class="entity.group.parameters.GroupEducationForm"/>
        <mapping class="entity.group.parameters.GroupQualificationLevel"/>
        <mapping class="entity.group.parameters.GroupStatus"/>
        <mapping class="entity.group.Psevdogroup"/>


        <mapping class="entity.student.Student"/>
        <mapping class="entity.student.parameters.StudentStatus"/>
        <mapping class="entity.student.parameters.StudentFinancing"/>
        <mapping class="entity.student.parameters.StudentSubgroup"/>


        <mapping class="entity.order.Order"/>
        <mapping class="entity.order.parameters.OrderType"/>
    </session-factory>
</hibernate-configuration>