.jumbotron {
    padding-top: 40px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    color: inherit;
    background-color: #eee;
}

table tr td a {
    display:block;
    height:100%;
    width:100%;
    color: #000000;
    text-decoration-color: #000000;
}
table tr td a :hover{
    display:block;
    height:100%;
    width:100%;
    color: #000000;
    text-decoration-color: #000000;
}

table tr td {
    padding-left: 0;
    padding-right: 0;
}

.container {
    width: 100%;
}
.form-control {
    height: 24px;
    padding: 1px;
    border-radius: 3px;
}
.col-un-padding {
    padding-right: 15px;
    padding-left: 0px;
}
.select-form {
    height: 24px;
}
.normal-area-input {
    height: 34px;
    padding: 3px;
    border-radius: 3px;
}
.option-style {
    margin-top: 10px;
    margin-bottom: 10px;
}